<br/><br/>
<div class="container">
	<form>
		<div class="form-group">
			<label for="name">Nom:</label>
			<input type="text" class="form-control"/>
		</div >
		<div class="form-group">
			<label for="subject">Matiere:</label>
			<input type="text" class="form-control"/>
		</div >
		<div class="form-group">
			<label for="laboratory">Laboratoire:</label>
			<input type="text" class="form-control"/>
		</div >
		<div class="form-group">
			<label for="animator">Animateur:</label>
			<input type="text" class="form-control"/>
		</div >
		<div class="form-group">
			<label for="hours">Horraires:</label>
			<input type="text" class="form-control"/>
		</div >
		<div class="form-group">
			<label for="location">Location:</label>
			<input type="text" class="form-control"/>
		</div >
		<button type="submit" class="btn btn-success" value="Ajouter" />
	</form>
</div>