<br/><br/>
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Modification de l'atelier {{workshop.id}}</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<label for="name">Nom:</label>
					<input type="text" class="form-control" ng-model="workshop.name"/>
				</div >
				<div class="form-group">
					<label for="subject">Matiere:</label>
					<input type="text" class="form-control" ng-model="workshop.subject"/>
				</div >
				<div class="form-group">
					<label for="laboratory">Laboratoire:</label>
					<input type="text" class="form-control" ng-model="workshop.laboratory"/>
				</div >
				<div class="form-group">
					<label for="animator">Animateur:</label>
					<input type="text" class="form-control" ng-model="workshop.animator"/>
				</div >
				<div class="form-group">
					<label for="hours">Horraires:</label>
					<input type="text" class="form-control" ng-model="workshop.hours"/>
				</div >
				<div class="form-group">
					<label for="location">Location:</label>
					<input type="text" class="form-control" ng-model="workshop.location"/>
				</div >
				<button type="submit" class="btn btn-success" ng-click="updateWorkshop()">Modifier</button>
			</form>
		</div>
	</div>
</div>